<launch>
  <machine
    name="pi"
    address="10.42.0.185"
    user="wombot"
    password="visionary"
    env-loader="/home/wombot/catkin_ws/devel/ovc_env_loader.sh"
  />

  <node
    machine="pi"
    name="usb_cam"
    pkg="usb_cam"
    type="usb_cam_node"
    output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>

<!--   <node -->
<!--     machine="pi" -->
<!--     name="serial_node" -->
<!--     pkg="rosserial_python" -->
<!--     type="serial_node.py" -->
<!--     output="screen" > -->
<!--   </node> -->

  <node name="image_converter" pkg="wombot_system" type="video_sub.py" respawn="false" output="screen">
    <param name="autosize" value="true" />
  </node>

<!--   <node name="rsc_control_veh_pose" pkg="wombot_rsc_vehicle_pose" type="diff_drive_keyboard.py" output="screen"> -->
<!--   </node> -->

</launch>